<h2 mat-dialog-title>{{ data.isUpdate ? 'Update Event' : 'Add Event' }}</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Event Title</mat-label>
    <input matInput [(ngModel)]="data.eventTitle">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Event Date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="data.eventDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Start Time</mat-label>
    <input matInput [(ngModel)]="data.eventStart" [ngxTimepicker]="startTime" readonly>
    <ngx-material-timepicker #startTime></ngx-material-timepicker>
    <ngx-material-timepicker-toggle matSuffix [for]="startTime"></ngx-material-timepicker-toggle>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>End Time</mat-label>
    <input matInput [(ngModel)]="data.eventEnd" [ngxTimepicker]="endTime" readonly>
    <ngx-material-timepicker #endTime></ngx-material-timepicker>
    <ngx-material-timepicker-toggle matSuffix [for]="endTime"></ngx-material-timepicker-toggle>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Category</mat-label>
    <mat-select [(ngModel)]="data.category" (selectionChange)="onCategoryChange($event.value)">
      <mat-option *ngFor="let category of categories" [value]="category">
        {{ category.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onSave()">Save</button>
  <button mat-raised-button color="warn" *ngIf="data.isUpdate" (click)="onDelete()">Delete</button>
  <button mat-raised-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
