/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Z-index adjustments for ngx-material-timepicker */
ngx-material-timepicker {
    z-index: 1000 !important;
  }
  
  .ngx-material-timepicker-content {
    z-index: 1001 !important;
  }
  
  .ngx-material-timepicker-overlay {
    z-index: 1002 !important;
  }
  
  /* Ensure the overlay container z-index is lower */
  .cdk-overlay-container {
    z-index: 999 !important;
  }

/* Styles for making Saturday and Sunday gray */
.fc-weekend {
    background-color: #f0f0f0 !important;
  }

  /* Styles for category legend */
.category-legend {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  
  .category-item {
    padding: 5px 10px;
    margin: 5px;
    border-radius: 3px;
    cursor: pointer;
    color: white;
  }
  
  .category-item:hover {
    opacity: 0.8;
  }